* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: rgba(240, 228, 228, 0.2);
  line-height: 1, 5;
}

.section {
  background: #e2d8d8;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  height: 6rem;
  padding: 3rem;
}
.title-underline {
  background: rgb(25, 25, 179);
  height: 3px;
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-center {
  padding: 10px;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
  width: 90vw;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 10vw;
  margin: 2rem auto;
  background: rgba(168, 163, 187, 0.9);

  border-radius: 0.5rem;
  overflow: hidden;
}

.personImg {
  border-radius: 50%;
}

.first-img {
  margin: 0 auto;
  height: calc(100vh - 10rem);
  width: auto;
  /* background: url("https://picsum.photos/1600/1600"); */
  background: linear-gradient(
      to bottom,
      rgba(226, 193, 8, 0.5),
      rgba(247, 2, 2, 0.507)
    ),
    url("https://picsum.photos/2000/2000");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  font-weight: bold;
  color: #e2d8d8;
  background-attachment: fixed;
}

/* @keyframes move {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}

.box {
  width: 10vw;
  offset: path("M 100 100 L 300 100 L 200 300 z") auto;
  animation: move 3s linear infinite;
}
 */
